body {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'LINE_Seed_Sans_TH', sans-serif;
    background-color: antiquewhite;
}

@font-face {
    font-family: 'LINE_Seed_Sans_TH';
    src: url('fonts/line-fonts/EOT/LINESeedSansTH_W_Rg.eot');
    src: url('fonts/line-fonts/EOT/LINESeedSansTH_W_Rg.eot?#iefix') format('embedded-opentype'),
        url('fonts/line-fonts/WOFF2/LINESeedSansTH_W_Rg.woff2') format('woff2'),
        url('fonts/line-fonts/WOFF/LINESeedSansTH_W_Rg.woff') format('woff'),
        url('fonts/line-fonts/TTF/LINESeedSansTH_A_Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* @media only screen and (max-width: 426px) { */
    body {
        background-image: url(img/bg-main.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat, repeat;
        min-height: 100vh;
    }

    .wrap-content-middle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    /* Login site */
    .card-login {
        background-color: #fff;
        padding: 36px 19px;
        border-radius: 20px;
        text-align: center;
        box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
        width: 400px;
    }

    .card-login .title {
        font-weight: bold;
        color: #2E3192;
        font-size: 18px;
        margin-bottom: 1rem;
    }

    .form-cus {
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        margin-bottom: 22px;
    }

    .navbar-login {
        position: absolute;
        width: 100%;
    }

    .btn-login {
        color: #fff !important;
        background-color: #383BA7 !important;
        border-color: #6164d2 !important;
        width: 100% !important;
        border-radius: 10px !important;
    }

    .btn-login:hover {
        color: #fff !important;
        background-color: #4c50ca !important;
        border-color: #5692e9 !important;
    }

    .btn-login:active {
        color: #fff !important;
        background-color: #4c50ca !important;
        border-color: #0a53be !important;
    }

    .btn-login:focus {
        color: #fff !important;
        background-color: #383BA7 !important;
        border-color: #6164d2 !important;
        box-shadow: 0 0 0 0.25rem rgb(56 59 167 / 50%) !important;
    }

    /* Login site */
    .form-check-tel {
        background-color: #E6E6E6 !important;
        color: #444444 !important;
        margin-bottom: 22px;
    }

    .form-check-tel:focus {
        color: #212529 !important;
        background-color: #fff !important;
        border-color: #E6E6E6 !important;
        outline: 0 !important;
        box-shadow: 0 0 0 0.25rem rgb(230 230 230 / 25%) !important;
    }

    .check-tel .title {
        margin-bottom: 1.5rem;
    }

    /* Login site */



    /* OTP */
    .otp p:nth-child(2) {
        margin-bottom: 0.5rem;
    }

    .otp p:nth-child(3) {
        margin-bottom: 0.5rem;
    }

    .re-otp {
        margin-top: 0.5rem;
    }

    .re-otp .wrap span:nth-child(2) {
        color: #3DACDF;
    }

    .otp-field {
        display: flex;
        column-gap: 10px;
        justify-content: center;
    }

    .otp-field input {
        width: 13%;
        background-color: #FBFBFB;
        border: 1px solid #CECECE;
        border-radius: 10px;
        height: 56px;
        text-align: center;
    }

    .otp {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    /* OTP */

    /* user-indormation */
    .user-information {
        padding: 2rem;
        text-align: center;
    }

    .user-information .title-content {
        color: #fff;
        font-weight: bold;
    }

    .user-information .wrap {
        background-color: #fff;
        text-align: initial;
        padding: 1.5rem;
        border-radius: 14px;
    }

    .user-information .item {
        margin-bottom: 8px;
    }

    .user-information .item .title {
        margin-bottom: 4px;
        font-size: 14px;
        color: #696970;
    }

    .user-information .item .detail {
        margin-bottom: 0px;
        font-size: 16px;
        font-weight: bold;
        color: #333333;
    }

    .user-information .btn-group {
        flex-direction: column;
        margin: 16px 0px;
        row-gap: 8px;
        width: 66%;
    }

    /* btn-red */
    .btn-red {
        color: #fff !important;
        background-color: #EC1E25 !important;
        border-color: #f8353c !important;
        width: 100% !important;
        border-radius: 10px !important;
    }

    .btn-red:hover {
        color: #fff !important;
        background-color: #ff3037 !important;
        border-color: #e74248 !important;
    }

    .btn-red:active {
        color: #fff !important;
        background-color: #EC1E25 !important;
        border-color: #f8353c !important;
    }

    .btn-red:focus {
        color: #fff !important;
        background-color: #EC1E25 !important;
        border-color: #f8353c !important;
        box-shadow: 0 0 0 0.25rem rgb(236 30 37 / 26%) !important;
    }

    /* btn-red */

    /* Body BG login */
    .body-bg-login {
        background-image: url(img/bg-second.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat, repeat;
        min-height: 100vh;
    }

    /* Body BG login */

    /* Step Login */

    .navbar-login #progressbar {
        overflow: hidden;
        counter-reset: step;
        overflow: hidden;
        counter-reset: step;
        padding: 0.5rem 2rem;
        background-color: #fff;
        margin: 0;
        border-radius: 0px 0px 14px 14px;
    }

    .navbar-login #progressbar li {
        list-style-type: none;
        color: white;
        text-transform: uppercase;
        font-size: 14px;
        width: 33.33%;
        float: left;
        position: relative;
        text-align: center;
        color: #296FFF;
    }

    .navbar-login #progressbar li.active:before {
        background: #296FFF;
        color: white;
    }

    .navbar-login #progressbar li.active:after {
        background: #296FFF;
        color: white;
    }

    .navbar-login #progressbar li:before {
        content: counter(step);
        counter-increment: step;
        width: 26px;
        line-height: 24px;
        display: block;
        font-size: 12px;
        color: #fff;
        background: #B7B7B7;
        border-radius: 50%;
        margin: 0 auto 5px auto;
        position: relative;
        z-index: 1;
    }

    .navbar-login #progressbar li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: #B7B7B7;
        position: absolute;
        left: -50%;
        top: 11px;
        z-index: 0;
    }

    .navbar-login #progressbar li:nth-child(1):after {
        content: '';
        display: none;
    }

    /* Step Login */

    /* navbar-search */
    .navbar-search .group {
        display: flex;
        justify-content: space-between;
        padding: 12px 0px;
        color: #fff;
    }

    .navbar-search .group a {
        color: #fff;
    }

    .navbar-search .bi {
        cursor: pointer !important;
    }

    #search-allcard {
        background-color: #fff;
        padding: 8px;
        border-radius: 8px;
        margin-bottom: 14px;
    }

    /* navbar-search */

    /* content-allcard */
    .content-allcard {}

    .content-allcard .item {
        padding: 1rem;
        background-color: #fff;
        border-radius: 10px;
        margin-bottom: 16px;
    }

    .content-allcard .wrap {
        display: flex;
        justify-content: space-between;
    }

    .content-allcard .wrap img {
        width: 100%;
    }

    .content-allcard .detail {
        text-align: end;
    }

    .content-allcard .title .bi-car-front {
        color: #FFAE4F;
    }

    .content-allcard .title span:nth-child(2) {
        font-size: 16px;
        font-weight: bold;
        margin-left: 4px;
        color: #333333;
    }

    .content-allcard .price {
        font-size: 30px;
        font-weight: bold;
        color: #2E3192;
        margin: 0;
    }

    .content-allcard .score {
        color: #333333;
        font-weight: bold;
        margin: 0;
    }

    .content-allcard .card-id {
        font-size: 12px;
        color: #2E3192;
        margin: 0;
    }


    .content-allcard .more {
        font-size: 10px;
        margin: 0;
    }

    /* content-allcard */

    /* modal-expire */

    .modal-expire .wrap-expire {
        border-bottom: 1px solid #CECECE;
    }

    .modal-expire .expire {
        padding: 1rem 1rem;
    }

    .modal-expire .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .modal-expire .modal-header {
        justify-content: center;
        background-color: #296FFF;
    }

    .modal-expire h5 {
        font-size: 16px;
        font-weight: bold;
        color: #fff;
    }

    .modal-expire .modal-body {
        background-color: #F3F3F3;
        padding: 0;
    }

    .modal-expire .cardid {
        color: #296FFF;
        margin-bottom: 8px;
    }

    .modal-expire .date {
        color: #666666;
        margin-bottom: 8px;
    }

    .modal-expire .modal-footer {
        justify-content: center;
        background-color: #F3F3F3;
        border: 0;
    }

    .btn-expire {
        color: #EC1E25;
        background-color: #FCFCFC;
        border: none !important;
        border-radius: 10px;
    }

    .btn-expire:hover {
        color: #FCFCFC;
        background-color: #f54349;
    }

    .btn-expire:active {
        color: #FCFCFC;
        background-color: #f54349;
    }

    .btn-expire:focus {
        color: #FCFCFC;
        background-color: #f54349;
    }

    .btn-expire i {
        margin-right: 6px;
    }

    .btn-skyblue {
        color: #fff;
        background-color: #296FFF;
        border: none !important;
        border-radius: 10px;
    }

    .btn-skyblue:hover {
        color: #296FFF;
        background-color: #6396ff;
    }

    .btn-skyblue:active {
        color: #296FFF;
        background-color: #6396ff;
    }

    .btn-skyblue:focus {
        color: #296FFF;
        background-color: #6396ff;
    }

    /* modal-expire */

    /* Footer */
    footer {
        position: sticky;
        bottom: 0;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    }

    footer .navbar-footer {
        background-color: #fff;
        padding: 10px;
    }

    footer .navbar-footer .wrap {
        display: flex;
        justify-content: space-around;
    }

    footer .navbar-footer .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer .navbar-footer .item i {
        font-size: 22px;
    }

    footer .navbar-footer .item img {
        width: 28px;
        height: 32px;
    }

    .navbar-footer .active {
        color: #2E3192 !important;
    }

    /* Footer */

    /* cancle-user */
    .cancle-user {
        min-height: 100vh;
        padding: 1rem 0rem;
    }

    .cancle-user .wrap {
        min-height: 100vh;
        background-color: #fff;
        border-radius: 10px;
    }

    .cancle-user .navbar-search .group {
        padding: 12px;
        color: #333;
        font-weight: bold;
    }

    .cancle-user .navbar-search .group a {
        color: #333;
    }

    .cancle-user .img {
        margin-bottom: 12px;
    }

    .cancle-user img {
        width: 100%;
    }

    .cancle-user .detail .wrap {
        padding: 12px;
    }

    .cancle-user .detail .title {
        font-weight: bold;
        margin-bottom: 8px;
    }

    .cancle-user .detail .box {
        background-color: #F3F3F3;
        padding: 12px;
        border-radius: 10px;
        margin-bottom: 1rem;
    }

    .cancle-user .detail .box .textcs {
        color: #2E3192;
        font-size: 18px;
        font-weight: bold;
        margin: 0 2px;
    }

    .btn-orange {
        color: #fff;
        background-color: #DA3721;
        border: none !important;
        border-radius: 10px;
    }

    .btn-orange:hover {
        color: #296FFF;
        background-color: #6396ff;
    }

    .btn-orange:active {
        color: #296FFF;
        background-color: #6396ff;
    }

    .btn-orange:focus {
        color: #296FFF;
        background-color: #6396ff;
    }

    .modal-cn-user .btn-login {
        width: auto !important;
    }

    /* cancle-user */

    /* change-reward */
    .change-reward {
        background-color: #fff;
        height: 100vh;
    }

    .change-reward .navbar-search {
        padding: 0px 1rem;
    }

    .change-reward .navbar-search i {
        color: #042E58;
    }

    .change-reward .navbar-search span {
        color: #2E3192;
        font-weight: bold;
    }

    .change-reward img {
        width: 100%;
    }

    .change-reward .exchange {
        padding: 1rem 1rem;
        margin-top: -20px;
        margin-bottom: 20px;
        background-color: #fff;
        z-index: 2;
        position: relative;
        border-radius: 10px;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.30);
    }

    .change-reward .exchange .title {
        font-weight: bold;
    }

    .change-reward .exchange .group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    .card-id-red {
        color: #EC1E25;
    }

    .card-id-red i {
        margin-right: 6px;
    }

    .date-clock {
        color: #6C6C6C;
    }

    .date-clock i {
        margin-right: 6px;
    }

    .change-reward .nav-tabs {
        justify-content: center;
        column-gap: 16px;
        border: none;
    }

    .change-reward .nav-tabs .nav-link.active {
        background-color: #2E3192;
        color: #fff;
        border-radius: 15px !important;
    }

    .change-reward .nav-tabs .nav-link {
        border: 1px solid #DEDEDE;
        border-radius: 15px;
        color: #2E3192;
    }

    .change-reward .tab-content {
        padding: 1rem;
    }

    /* change-reward */

    /* modal-cr */
    .modal-cr .modal-body {
        padding: 2rem 3rem;
    }

    .modal-cr .title {
        font-size: 18px;
        font-weight: bold;
    }

    .modal-cr .score {
        font-size: 18px;
        font-weight: bold;
        color: #B40F15;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .modal-cr .detail {
        padding: 1rem;
        border-top: 1px solid #2E3192;
        text-align: start;
    }

    .modal-cr .detail p {
        margin-bottom: 0.3rem;
    }

    .card-id-blue {
        color: #2E3192;
    }

    .card-id-blue i {
        margin-right: 6px;
    }

    .btn-grey {
        color: #fff !important;
        background-color: #999999 !important;
        border-color: #c6c6c6 !important;
        width: 100% !important;
        border-radius: 10px !important;
    }

    .btn-grey:hover {
        color: #fff !important;
        background-color: #bfbfbf !important;
        border-color: #bfbfbf !important;
    }

    .btn-grey:active {
        color: #fff !important;
        background-color: #bfbfbf !important;
        border-color: #bfbfbf !important;
    }

    .btn-grey:focus {
        color: #fff !important;
        background-color: #bfbfbf !important;
        border-color: #bfbfbf !important;
        box-shadow: 0 0 0 0.25rem rgba(198, 198, 198, 0.5) !important;
    }

    /* modal-cr */

    /* term */
    .term {
        padding: 1rem;
    }

    .term .wrap {
        padding: 1rem;
        background-color: #ffffffb5;
        border-radius: 10px;
    }

    .term .head {
        border-bottom: 1px solid #D2D2D2;
        margin-bottom: 1rem;
    }

    .term .head span {
        color: #2E3192;
        font-weight: bold;
    }

    .term .content .title {
        font-weight: bold;
        margin-bottom: 6px;
    }

    .btn-white {
        color: #2E3192 !important;
        background-color: #FFFFFF !important;
        border-color: #2E3192 !important;
        border-radius: 10px !important;
    }

    .btn-white:hover {
        color: #2E3192 !important;
        background-color: #FFFFFF !important;
        border-color: #2E3192 !important;
        border-radius: 10px !important;
    }

    .btn-white:active {
        color: #2E3192 !important;
        background-color: #FFFFFF !important;
        border-color: #2E3192 !important;
        border-radius: 10px !important;
    }

    .btn-white:focus {
        color: #2E3192 !important;
        background-color: #FFFFFF !important;
        border-color: #2E3192 !important;
        border-radius: 10px !important;
    }

    /* term */

    /* history */

    .history {
        padding: 1rem;
        height: 100%
    }

    .history .wrap {
        padding: 1rem;
        background-color: #ffffffb5;
        border-radius: 10px;
    }

    .history .nav-item {
        width: 50%;
    }

    .history .nav-item .nav-link {
        width: 100%;
        color: #595959;
        background-color: #F0F0F0;
        border-radius: 10px;
    }

    .history .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: #FFFFFF;
        background-color: #296FFF;
        border-color: #296FFF;
    }

    .history .group-drop {
        margin: 1rem 0rem;
    }

    .history .group-drop .btn-group {
        width: 32.33%;
    }

    .history .group-drop .btn-group .btn-white {
        border-color: #CBDCF5 !important;
        font-weight: bold;
    }

    .history-detail .item {
        background-color: #fff;
        padding: 1rem;
        border-radius: 14px;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    .history-detail .alldetail {
        width: 67%;
    }

    .history-detail .alldetail p {
        margin: 0;
    }

    .history-detail .alldetail .payment {
        margin: 6px 0px;
        font-size: 18px;
        color: #2E3192;
    }

    .history-detail .alldetail .payment i {
        margin-right: 4px;
    }

    .history-detail .alldetail .score span:nth-child(2) {
        background-color: #E9FFE8;
        padding: 2px 14px;
        border-radius: 6px;
        color: #50B719;
        margin-left: 4px;
    }

    .history-detail .shortdetail {
        text-align: center;
    }

    .history-detail .shortdetail p {
        font-size: 12px;
        color: #EC1E25;
        margin: 0;
    }

    .history-detail .shortdetail p {
        font-size: 12px;
        color: #EC1E25;
        margin: 0;
    }

    .history-detail .shortdetail p:nth-child(2) {
        font-size: 18px;
        margin: 6px 0px;
        color: #2E3192;
    }

    .history-detail .shortdetail .date-time span {
        color: #666666;
        font-size: 12px;
    }

    .history .title-page {
        color: #FFFFFF;
        margin-bottom: 1rem;
        display: block;
    }

    /* history */

    /* history-score */
    .history-score {}

    .history-score .item {
        background-color: #fff;
        display: flex;
        border-radius: 14px;
        align-items: center;
        padding: 1rem;
    }

    .history-score .item img {
        width: 70px;
        height: auto;
    }

    .history-score .item .image {
        width: 30%;
    }

    .history-score .item {
        background-color: #fff;
        display: flex;
        border-radius: 14px;
        margin-top: 1rem;
    }

    .history-score .item {
        background-color: #fff;
        display: flex;
        border-radius: 14px;
    }

    .history-score .detail p {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 4px;
    }

    .history-score .detail p:nth-child(2) {
        color: #696970;
        font-size: 12px;
        margin-bottom: 6px;
    }

    .history-score .detail p:nth-child(3) {
        font-size: 10px;
        color: #999999;
        margin-bottom: 6px;
    }

    .history-score .group-list span {
        color: #2E3192;
        font-size: 14px;
        margin-right: 6px;
    }

    .history-score .group-list span:nth-child(2) {
        color: #EC1E25;
        font-size: 14px;
    }

    .history-score .group-list span:nth-child(2) i {
        margin-right: 4px;
    }

    /* history-score */

    /* card-reward */
    .card-reward .wrap {
        padding: 1rem;
        display: flex;
        align-items: center;
        column-gap: 26px;
    }

    .my-card {
        display: flex;
        background-color: #fff;
        border-radius: 10px;
        padding: 1rem;
    }

    .my-card .esp {
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: #EC1E25;
        font-weight: bold;
    }

    .my-card .score {
        font-size: 20px;
        font-weight: bold;
        color: #2E3192;
        margin: 0.2rem 0rem 1rem;
        text-align: center;
    }

    .my-card .number {
        color: #2E3192;
        font-size: 14px;
        text-align: end;
        margin-bottom: 0;
        font-weight: bold;
    }

    .my-card .exp {
        color: #595959;
        font-size: 12px;
        text-decoration: underline;
        margin-bottom: 0;
    }

    .card-reward .icon-link {
        background-color: #FFBD3D;
        border-radius: 50%;
        padding: 8px 10px;
        color: #fff;
    }

    .card-reward .tab {
        background-color: #F5F5F9;
        padding: 1rem;
        border-radius: 30px 30px 0 0;
    }

    .card-reward .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: #FFFFFF !important;
        background-color: #2E3192 !important;
        border-color: #2E3192;
        border-radius: 30px;
    }

    .card-reward .nav-tabs {
        border: none;
        column-gap: 5px;
    }

    .card-reward .nav-tabs .nav-link {
        background-color: #fff;
        color: #696970;
        border-radius: 30px;
        font-size: 14px;
    }

    .card-reward .head {
        display: flex;
        justify-content: space-between;
        margin: 1.5rem 0rem 1rem;
    }

    .card-reward .head .allreward {
        font-weight: bold;
    }

    .card-reward .head .all {
        color: #F68D22;
        font-weight: bold;
    }

    .slide-card .item {
        background-color: #fff;
        border-radius: 18px;
        margin: 0 !important;
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
        width: 100%;
    }

    .slide-card .item .card-detail {
        padding: 1rem;
    }

    .slide-card .card-detail p {
        font-size: 12px;
        color: #2E3192;
        font-weight: bold;
        margin-bottom: 6px;
    }

    .slide-card .item p:nth-child(2) {
        font-size: 12px;
        color: #2E3192;
        margin-bottom: 4px;
    }

    .slide-card .item p:nth-child(3) {
        font-size: 12px;
        color: #A1A19F;
        margin-bottom: 8px;
    }


    .slide-card .owl-theme .owl-nav {
        position: absolute;
        top: 40%;
        width: 100%;
    }

    .slide-card .owl-carousel .owl-nav button.owl-prev {
        position: absolute;
        left: 0;
        background-color: orange !important;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        color: #fff;
    }

    .slide-card .owl-carousel .owl-nav button.owl-next {
        position: absolute;
        right: 0;

        background-color: orange !important;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        color: #fff;
    }

    .slide-card .owl-dot {
        display: none !important;
    }

    /* card-reward */

/* } */